body {
  background-color: #ffeac3;
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.heading {
  width: auto;
  height: auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: #ffeac3;
  padding-block: 0.5em;
}

.heading a {
  text-decoration: none;
  color: inherit;
}

.heading-logo {
  width: 6em;
}

.heading-typo {
  margin: 0 1.5rem;
}

.heading-typo p {
  font-size: 2rem;
  margin: 0;
}

.heading-typo h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Sail', cursive;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

main {
  width: auto;
  min-height: 30em;
}

main h2 {
  margin: 1rem;
}

main section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1400px) {
  main section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  main section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  main section {
    grid-template-columns: 1fr;
  }
}

footer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-auto-flow: row;
  grid-template-areas: "contact shortcuts";
}

.contact {
  grid-area: contact;
}

.shortcuts {
  grid-area: shortcuts;
}

.shortcuts ul {
  list-style: none;
  padding: 0 1rem;
}

.shortcuts ul li {
  margin: 0.5em 0;
}

footer .map {
  width: 100%;
  height: auto;
}